<div class="form-container">
  <form action="https://docs.google.com/forms/d/1EKKB9RmrnZ53NsGsZ5JVcqMRYkmFiYWOEIHZ7Kgg9QY/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
  <div class="ss-form-question errorbox-good" role="listitem">
    <div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
      <label class="ss-q-item-label" for="entry_926543186"><div class="ss-q-title">Tu nombre
    </div>
  <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
  <input type="text" name="entry.926543186" value="" class="ss-q-short" id="entry_926543186" dir="auto" aria-label="Tu nombre  " title="">
  <div class="error-message" id="1470307596_errorMessage"></div>
  </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
  <div dir="ltr" class="ss-item  ss-radio"><div class="ss-form-entry">
  <label class="ss-q-item-label" for="entry_798255937"><div class="ss-q-title">¿Podrás asistir?
  </div>
  <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

  <ul class="ss-choices" role="radiogroup" aria-label="¿Podrás asistir?  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.642835816" value="Obvio, jamás me lo perdería" id="group_642835816_1" role="radio" class="ss-q-radio" aria-label="Obvio, jamás me lo perdería"></span>
  <span class="ss-choice-label">Obvio, jamás me lo perdería <i class="fa fa-heart"></i></span>
  </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.642835816" value="No, soy una mala persona" id="group_642835816_2" role="radio" class="ss-q-radio" aria-label="No, soy una mala persona"></span>
  <span class="ss-choice-label">No, soy una mala persona</span>
  </label></li></ul>
  <div class="error-message" id="798255937_errorMessage"></div>
  </div></div></div>
  <input type="hidden" name="draftResponse" value="[,,&quot;-3093492908344948217&quot;]
  ">
  <input type="hidden" name="pageHistory" value="0">


  <input type="hidden" name="fbzx" value="-3093492908344948217">

  <div class="ss-item ss-navigate"><div class="pull-right ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
      <input type="submit" name="submit" value="Enviar respuesta" id="ss-submit" class="jfk-button jfk-button-action">
  </div></ol></form>
</div>